$text-color: #000000;
$text-muted: #222222;
$pink: #EF32D9;
$blue: #89FFFD;

$text-xx-large: 48px;
$text-x-large: 36px;
$text-large: 24px;
$text-medium: 18px;
$text-small: 14px;

$text-bold: 700;
$text-normal: 400;
$text-light: 300;