@import "_constants.scss";

.input {
    label {
        pointer-events: none;
        position: relative;
        transition: $transition;

        &.filled {
            top: 0;
        }

        &.empty {
            top: 1.6rem;
        }
    }
}
