* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

.container {
    background: #222222;
    height: 100vh;

    nav {
        background: white;
        color: #444444;
        display: flex;
        flex-direction: column;
        font-weight: 300;
        height: 100%;
        padding: 3rem 0 1rem 3rem;
        width: 350px;

        .navigation-items {
            text-transform: lowercase;

            div {
                margin-bottom: 1rem;
            }
        }

        .my-name {
            font-size: 36px;
            text-transform: uppercase;
        }

        .menu-header {
            font-size: 24px;
            font-weight: 700;
        }

        .menu-option {
            font-weight: 300;
        }

        .nav-links {
            flex-grow: 1;
        }

        .nav-links > div {
            margin-bottom: 3rem;
        }
    }
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.m-icon {
    margin-right: 1rem;
}