{% extends "base_layout.html" %}

{% block content %}
<div class="row" id="cmm">
    <div class="container">
        <div class="col-6">
            <h2>Classical Music Mashup</h2>
            <h3>for symphony orchestra</h3>
            <p>The original Classical Music Mashup is now brought to you in a wonderful symphonic experience!</p>
            <p>Score and parts are available for purchase for multiple ensembles</p>
            <br>
            <a href="https://peteryang.io/cmm/orchestra" target="_blank">
                <button>Full Orchestra</button>
            </a>
            <a href="https://peteryang.io/cmm/band" target="_blank">
                <button>Concert Band</button>
            </a>
            <a href="https://peteryang.io/cmm/strings" target="_blank">
                <button>String Orchestra</button>
            </a>
        </div>
        <div class="col-6">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/sSYRCBK13Kk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Opus 5</h2>
            <h3>original composition for large orchestra</h3>
            <p>This piece begins with a very dark mood and continues development with a heroic motif. At the conclusion of that phrase, a seemingly playful dance is heard before being taken over by the stomping march of darkness.</p>
        </div>
        <div class="col-6">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/jq_yuJ7ClGY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>The Hebrides Overture</h2>
            <h3>reorchestration for large orchestra</h3>
            <p>The Hebrides is a popular composition by Mendelssohn originally written for strings, double woodwinds, 2 natural horns, 2 trumpets, and 2 timpani. I felt like the fire of the beast within the cave could benefit from a more ferocious instrumentation so I rewrote the ending theme with an extensive instrumentation.</p>
        </div>
        <div class="col-6">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/qWDWLrXNJRs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>First of the Year</h2>
            <h3>original composition for large orchestra</h3>
            <p>This is a demonstration of how quickly I can produce orchestral scores. This composition was named as it is because it was written from start to finish - including all notation - within a day.</p>
        </div>
        <div class="col-6">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/WXEVlneZDdk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Counterpoint Over War</h2>
            <h3>original composition for orchestra</h3>
            <p>This was an entry for the PTA Reflections contest. The theme was "The world would be a better place if..." and I decided to illustrate how music can make everything better. The battle between harsh dissonances and harmonic melodies symbolize the good of music.</p>
        </div>
        <div class="col-6">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/yNl6LcSIwjE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Piano &amp; Winds in Eb</h2>
            <h3>original composition for woodwind quartet</h3>
            <p>This is a slow piece for a woodwind quartet with little musical development thorughout the piece but maintains a calm mood without being repetitive.</p>
        </div>
        <div class="col-6">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/tThQDDgDw24" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}