{% extends "base_layout.html" %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>AITmed</h2>
            <h3>telehealth system</h3>
            <p>
                A local Urgent Care center, A&C Urgent Care, was looking to find a custom telehealth solution.
                Telehealth uses telecommunications to connect patients with doctors, for example using a video call to
                discuss symptoms or sending e-prescriptions. In a team of 9 developers (Backend, Web Frontend, Android,
                iOS, AI), we were tasked with putting a system that was capable of handling multiple account types
                (doctor, patient, business) to provide telehealth services.
            </p>
            <p>
                Features included HIPAA compliant video communication and patient charts healthcare records. Patients
                were able to log in, set their medical information and request doctors, either by appointment or on
                demand. The on demand doctors utilized WebSockets so that patients could connect with any available
                doctor and be put in their queue.
            </p>
        </div>
        <div class="col-6">
            <a href="https://aitmed.com" target="_blank"><img src="../portfolio/files/aitmed.png"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Hacktech 2017</h2>
            <h3>Computer Vision vs. Human Conversation</h3>
            <p>
                Vision API in its current state is rather impressive but we can only get so much data from it. Though it
                can look at the image and guess what is in it, it fails to make any connection between images. We have
                accomplished this and went on to compare it to what a user community interpreted it as.
            </p>
            <p>
                For our image source, we took top images from popular subreddits and fed them into Microsoft's Computer
                Vision API. The API would return a JSON, providing guesses of what was inside of the image and a related
                confidence value. Using this JSON information and many other images, we created a graph correlating
                images to one another. We would take matching pairs of word descriptors (from the vision API), their
                respective confidence values, and average it all out to come up with a similarity value from 0 to 1
                between any image.
            </p>
            <p>
                Next, since we took these images directly from Reddit, we were able to use Reddit's API to scrape the
                comments from the thread. We analyzed the frequencies of words and compared them to the frequencies of
                words to other threads and also assigned a similarity value from 0 to 1.
            </p>
        </div>
        <div class="col-6">
            <a href="https://github.com/mduong15/Hacktech2017" target="_blank"><img
                    src="../portfolio/files/hacktech.jpg" style="border: 1px solid #aaa"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Acclaim Academic Institute</h2>
            <h3>website for an international tutoring firm</h3>
            <p>
                Acclaim was a brick and mortar tutoring firm that was founded in 1995 that wanted to expand their
                business by using technology. Initial attempts used third party scheduling software that was not
                intended to match teachers to students which made the staff and customer user experience very poor.
                After working with Acclaim for a couple of years, developing internal tooling such as automating teacher
                reports and tallying hours, I proposed the development of an in-house customer facing solution.
            </p>
            <p>
                In a team of three developers, we outlined product requirements which essentially was a custom CRM
                built from scratch to handle the company's business model. From user accounts to scheduling shifts
                for hundreds of users over multiple timezones, the web application serves to expand the company's
                ability to reach more customers while keeping information organized.
            </p>
            <p>
                The application was built with TypeScript and React.js on the frontend with Python and Django powering
                the backend.
            </p>
        </div>
        <div class="col-6">
            <a href="https://acclaimtutor.com" target="_blank"><img src="../portfolio/files/acclaim.png"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Bready</h2>
            <h3>website for fbla website design competition</h3>
            <p>
                Bready is an entry for the 2016 FBLA Web Site Design Competition. This projected was completed with one
                other teammate. We were prompted to create a website for a baker who was opening up a bakery/restaurant
                focusing on marketing gluten/wheat free foods. We took that topic and developed a style and branding
                guidelines in order to effectively market the bakery.
            </p>
            <p>
                This website was created without the use of any templates, built with HTML, CSS, JS, jQuery, PHP, and
                SQL. We competed at California's FBLA State competition and were named State Champions (1st place). We
                took it to Nationals and placed 9th.
            </p>
        </div>
        <div class="col-6">
            <a href="https://bready.xyz" target="_blank"><img src="../portfolio/files/bready.jpg"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>BlockParty</h2>
            <h3>website for virtual enterprises</h3>
            <p>
                Virtual Enterprises is a national organization which puts classrooms through an entrepreneurial
                experience. Our class is sectioned off into various departments (Administration, Marketing, Sales, IT,
                Accounting, HR) to build a virtual company from the ground up. After the development of our company's
                idea - customizable parties in a box - we worked closely with the Marketing and Sales teams to create
                this website.
            </p>
            <p>
                This project was created without the use of any templates, built with HTML, CSS, JS, PHP, and SQL. An
                interesting part of this project is the interactive store page which allows the customizability of the
                parties with dynamically adjusting prices based on the permutations. We took this website to a state
                competition in Bakersfield and received 3rd place in the Advanced Website division.
            </p>
        </div>
        <div class="col-6">
            <a href="https://blockparty.peteryang.io" target="_blank"><img src="../portfolio/files/ve.jpg"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Video Player</h2>
            <h3>for live a/v synchronization</h3>
            <p>
                The idea from this program came about after trying to synchronize premade videos to a live orchestral
                performance. Tempo by live musicians will almost always have minor deviations from a click track so in
                order to chance video sequences at set hit points, it was optimal to have a personal manually advancing
                the clips. The problem with that was that standard video players do not queue separate clips, meaning
                that there has to be a slight loading time between clips when the next one is called.
            </p>
            <p>
                In order to solve this problem, I created a Java application which is a simple video player that loads a
                video sequence into the system's memory so that going between this preloaded sequence has no delay from
                loading.
            </p>
        </div>
        <div class="col-6">
            <a href="https://github.com/PeterYang1625/videoplayer" target="_blank"><img
                    src="../portfolio/files/video.jpg"></a>
        </div>
    </div>
</div>

{% endblock %}