{% extends "base_layout.html" %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Acclaim Academic Institute</h2>
            <h3>website for an international tutoring firm</h3>
            <p>Though currently under construction, this website was built from the ground up to accommodate the needs of both customers and staff. A backend system allows managers to keep track of tutors and students remotely.</p>
        </div>
        <div class="col-6">
            <a href="https://acclaimtutor.com" target="_blank"><img src="../portfolio/files/acclaim.png"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Bready</h2>
            <h3>website for fbla website design competition</h3>
            <p>Bready is an entry for the 2016 FBLA Web Site Design Competition. This projected was completed with one other teammate. We were prompted to create a website for a baker who was opening up a bakery/restaurant focusing on marketing gluten/wheat free foods. We took that topic and developed a style and branding guidelines in order to effectively market the bakery.</p>
            <p>This website was created without the use of any templates, built with HTML, CSS, JS, jQuery, PHP, and SQL. We competed at California's FBLA State competition and were named State Champions (1st place). We took it to Nationals and placed 9th.</p>
        </div>
        <div class="col-6">
            <a href="https://bready.xyz" target="_blank"><img src="../portfolio/files/bready.jpg"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>BlockParty</h2>
            <h3>website for virtual enterprises</h3>
            <p>Virtual Enterprises is a national organization which puts classrooms through an entrepreneurial experience. Our class is sectioned off into various departments (Administration, Marketing, Sales, IT, Accounting, HR) to build a virtual company from the ground up. After the development of our company's idea - customizable parties in a box - we worked closely with the Marketing and Sales teams to create this website.</p>
            <p>This project was created without the use of any templates, built with HTML, CSS, JS, PHP, and SQL. An interesting part of this project is the interactive store page which allows the customizability of the parties with dynamically adjusting prices based on the permutations. We took this website to a state competition in Bakersfield and received 3rd place in the Advanced Website division.</p>
        </div>
        <div class="col-6">
            <a href="https://blockparty.peteryang.io" target="_blank"><img src="../portfolio/files/ve.jpg"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-6">
            <h2>Video Player</h2>
            <h3>for live a/v synchronization</h3>
            <p>The idea from this program came about after trying to synchronize premade videos to a live orchestral performance. Tempo by live musicians will almost always have minor deviations from a click track so in order to chance video sequences at set hit points, it was optimal to have a personal manually advancing the clips. The problem with that was that standard video players do not queue separate clips, meaning that there has to be a slight loading time between clips when the next one is called.</p>
            <p>In order to solve this problem, I created a Java application which is a simple video player that loads a video sequence into the system's memory so that going between this preloaded sequence has no delay from loading.</p>
        </div>
        <div class="col-6">
            <a href="https://github.com/PeterYang1625/videoplayer" target="_blank"><img src="../portfolio/files/video.jpg"></a>
        </div>
    </div>
</div>
{% endblock %}