<!DOCTYPE html>
<html>
    {% if link %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-85724833-1', 'auto');
            ga('send', 'pageview');
        </script>
        <meta property="og:title" content="{{title}}">
        <meta property="og:url" content="{{url}}">
        <meta property="og:image" content={{image}}>
        <meta property="og:description" content={{description}}>
        <script>location = "{{link}}"</script>
        <noscript><a href="{{link}}">Click here to be redirected</a></noscript>
    {% else %}
        <script>location="{{error}}"</script>
    {% endif %}
</html>